body
  &:after
    padding   : 5px 20px
    display   : inline-block
    position  : fixed
    bottom    : 0
    right     : 5px
    background: black
    color     : white
    z-index   : 999
    
    @media lg
      content 'lg'
    @media md
      content 'md'
    @media sm
      content 'sm'
    @media xs 
      content 'xs'
