// Responsive + Retina
retina = '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dppx)'
xs     = '(max-width: 767px)'
sm     = '(min-width: 768px) and (max-width: 991px)'
md     = '(min-width: 992px) and (max-width: 1199px)'
lg     = '(min-width: 1200px)'

lt-lg  = '(max-width: 1199px)'
lt-md  = '(max-width: 991px)'
lt-sm  = '(max-width: 767px)'

gt-xs  = '(min-width: 767px)'
gt-sm  = '(min-width: 991px)'
gt-md  = '(min-width: 1119px)'
