!!!
html
  head
    title Stylus Media Queries Helper
    link(rel='stylesheet', href='css/example.css')
  
  body      
    .example
      .child.
        Resize browser window or rotate touch screen device.
